body {
  padding-right: 0 !important;
  font-family: bauerbodnibtwxx-roman, serif;
}

.colors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.color-dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  padding: 5px;
  margin: 10px;
  border-style: solid;
  border-width: 2px;
}

.store {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 1rem;
}

footer {
  background-color: #faebd7;
}

.hidden {
  display: none;
}

.dropstart,
.nav-item {
  margin: 0.3rem;
}
.carousel,
.carousel-item img {
  height: 500px;
  max-height: auto;
}
@media (max-width: 1000px) {
  .carousel,
  .carousel-item img {
    max-height: 400px;
  }
}
textarea {
  resize: none;
}